@model List<Tasks.Models.TodosModel>

@{
    ViewData["Title"] = "Contact Page";
}

<div>
    <h1 class="display-4">This is my Contact Page</h1>
    <p>Click to search<a href="https://docs.microsoft.com/aspnet/core">Google</a></p>

    <ul class="list-group">
        @foreach(var task in Model){
          <li class="list-group-item">Name: @task.title ; Desc: <span class="text-danger">@task.description</span></li>
        }
    </ul>
</div>


