@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h1 class="display-4">This is my Contact Page</h1>
    <p>Click to search Google<a href="https://docs.microsoft.com/aspnet/core">Google</a></p>
</div>


